<h1>Class: <%= @class.title %></h1>
<h2>Room: <%= @class.room_number %> </h2><br>

<%= link_to "Edit this class.", edit_school_class_path(@class) %><br>

<%= link_to "Back to class list.", school_classes_path %>
